section {
    border: 1px solid;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    background-color:rgb(70, 10, 70);
}
.blue {
    width: 100px;
    height: 100px;
    background-color:rgb(48, 156, 189);
}