<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Server Review</title>
</head>
<body>
    <div class="wrapper" id="app">
        <h1>High Scores</h1>
        <br>
        <button class="btn" id="highScores" v-on:click="btn_click()">Get High Scores</button>
        <button class="btn" id="newScore" v-on:click="newscore_click">Post New Score</button>
        <br>
        <br>
        <div>
            <label>Name</label>
            <input type="text" v-model="name">
            <label>Score</label>
            <input type="text" v-model="score">
        </div>
        <br>
        <br>
        <br>
        <div id="displayHighScore">
        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="app.js"></script>
</html>