<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Vue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>{{ greeting }}</h1>
        <div v-on:click = "click ( )"
            v-on:mouseover="mouseOver()"
            v-on:mouseleave="mouseLeave()" 
            v-bind:class="computeClass">
            <p>I have been clicked: {{ clicked }} </p>
            <p>I am being hovered: {{ hovering }} </p>

        </div>
        <div v-bind:class="positionClass">
        <p> I am on the {{ position }} side </p>

        </div>
        <div v-for="name in names">
            {{ name }}
        </div>
        <div class="board">
            <div class="piece" v-bind:style="pieceStyle"></div>
            <div class="goal" v-bind:style="goalStyle"></div>
        
        
        
        </div>
        <h1 v-if="victory" id="win">You Win!</h1>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="app.js"></script>
</html>